##### import numpy as np
import pandas as pd
import nltk
from string import punctuation
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.tokenize import word_tokenize

In [2]:
def clean_txt(sent):
    punct_stop=stopwords.words("english")
    terms=word_tokenize(sent.lower())
    stemmer_s=SnowballStemmer("english")
    a=([stemmer_s.stem(word) for word in terms if word not in punct_stop and len(word)>2])
    return(" ".join(a))

In [3]:
doc1="This is a very good and plain paper This is really good and interesting"
doc2="This paper is very interesting,awesome"

In [4]:
doc1_clean=clean_txt(doc1)
doc1_clean

'good plain paper realli good interest'

In [5]:
doc2_clean=clean_txt(doc2)
doc2_clean

'paper interest awesom'

In [6]:
data=pd.DataFrame([doc1_clean,doc2_clean],columns=['text'])

In [7]:
data

                                    text
0  good plain paper realli good interest
1                  paper interest awesom

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
count_vec=CountVectorizer()

In [10]:
x=count_vec.fit_transform(data["text"])

In [11]:
x

<2x6 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [12]:
count_vec.get_feature_names()

['awesom', 'good', 'interest', 'paper', 'plain', 'realli']

In [13]:
count_vec.vocabulary_

{'good': 1, 'plain': 4, 'paper': 3, 'realli': 5, 'interest': 2, 'awesom': 0}

In [14]:
x.toarray()
#x.todense()

array([[0, 2, 1, 1, 1, 1],
       [1, 0, 1, 1, 0, 0]], dtype=int64)

In [15]:
DTM=pd.DataFrame(x.toarray(),columns=count_vec.get_feature_names())

In [16]:
DTM

   awesom  good  interest  paper  plain  realli
0       0     2         1      1      1       1
1       1     0         1      1      0       0

In [17]:
TDM=DTM.T

In [18]:
TDM

          0  1
awesom    0  1
good      2  0
interest  1  1
paper     1  1
plain     1  0
realli    1  0

In [19]:
#N_GRAM_RANGE
count_vec=CountVectorizer(ngram_range=(2,2))
x=count_vec.fit_transform(data["text"])
count_vec.get_feature_names()

['good interest',
 'good plain',
 'interest awesom',
 'paper interest',
 'paper realli',
 'plain paper',
 'realli good']

In [20]:
#get the DTM_bigram and DTM_unigram_bigram

In [21]:
dtm_bigram=pd.DataFrame(x.toarray(),columns=count_vec.get_feature_names())

In [22]:
dtm_bigram

,good interest,good plain,interest awesom,paper interest,paper realli,plain paper,realli good
0,1,1,0,0,1,1,1
1,0,0,1,1,0,0,0

In [23]:
count_vec=CountVectorizer(ngram_range=(1,2))
x1=count_vec.fit_transform(data["text"])
count_vec.get_feature_names()

['awesom',
 'good',
 'good interest',
 'good plain',
 'interest',
 'interest awesom',
 'paper',
 'paper interest',
 'paper realli',
 'plain',
 'plain paper',
 'realli',
 'realli good']

In [24]:
dtm_unigram_bigram=pd.DataFrame(x1.toarray(),columns=count_vec.get_feature_names())

In [25]:
dtm_unigram_bigram

,awesom,good,good interest,good plain,interest,interest awesom,paper,paper interest,paper realli,plain,plain paper,realli,realli good
0,0,2,1,1,1,0,1,0,1,1,1,1,1
1,1,0,0,0,1,1,1,1,0,0,0,0,0

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
tf_idf_vec=TfidfVectorizer()
score=tf_idf_vec.fit_transform(data["text"])
dt_tfidf=pd.DataFrame(score.toarray(),columns=tf_idf_vec.get_feature_names())
dt_tfidf

     awesom      good  interest     paper     plain    realli
0  0.000000  0.755256  0.268685  0.268685  0.377628  0.377628
1  0.704909  0.000000  0.501549  0.501549  0.000000  0.000000